<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apdef.tandurapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.ChangeProfilePicture" />
        <activity android:name=".ui.manage.price.PriceActivity" />
        <activity android:name=".ui.manage.history.HistoryDetailActivity" />
        <activity android:name=".ui.manage.history.HistoryActivity" />
        <activity android:name=".ui.manage.sell.SellConfirmActivity" />
        <activity android:name=".ui.manage.sell.SellProductDetailActivity" />
        <activity android:name=".ui.manage.mypackage.MyPackagePaymentConfirmActivity" />
        <activity android:name=".ui.manage.mypackage.MyPackageDetailActivity" />
        <activity android:name=".ui.manage.mypackage.MyPackageActivity" />
        <activity android:name=".ui.profile.ChangeAddressActivity" />
        <activity
            android:name=".ui.home.PlantingPaymentConfirmActivity"
            android:parentActivityName=".MainActivity"
            android:permission="android.permission.READ_EXTERNAL_STORAGE" />
        <activity android:name=".ui.home.PlantingPaymentActivity" />
        <activity android:name=".ui.home.PlantingDetailActivity" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:theme="@style/HiddenTitleTheme">

        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/HiddenTitleTheme" />
    </application>

</manifest>